= label :pledge, 'Title'
= text_field :pledge, 'title'

= label :pledge, 'Description'
= text_area(:pledge, 'description', class: 'input-xxlarge', rows: '5')

= label :pledge, 'Citation'
= text_field :pledge, 'citation'
%br