%div.container
  %h1 Create Pledge

  = render :partial => 'layouts/flash_display'

  = form_tag trackee_pledges_path do

    = render :partial => 'pledge_form'
    = submit_tag 'Add Pledge'

  = link_to "Back to Profile", trackee_path(@trackee)