= label :trackee, :first_name, 'First Name'
= text_field :trackee, 'first_name'

= label :trackee, :last_name, 'Last Name'
= text_field :trackee, 'last_name'

= label :trackee, :description, 'Description'
= text_area(:trackee, :description, class: 'input-xxlarge', rows: '5')
%br