%div.container
  %h1 Edit

  = render :partial => 'layouts/flash_display'

  = form_tag trackee_path, :method => 'put' do
    = render :partial => 'trackee_form'
    = submit_tag 'Save Changes'

  = link_to 'Back to Profile', trackee_path(@trackee)
