%div.container
  %h1 trackees

  - flash.each do |key, value|
    %div{:class => (flash_class(key))}
      = value

  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th First
        %th Last
        %th Profile
    %tbody
      - @trackees.each do |trackee|
        %tr
          %td= trackee.first_name
          %td= trackee.last_name
          %td= link_to "View", trackee_path(trackee)

  = link_to 'Add new trackee', new_trackee_path